# %%%%%%%%%%%%%
# IntelliJ IDEA
# %%%%%%%%%%%%%

# Directories

out
.idea

# .IML Files

# Custom Files

# %%%%%%%%%%%%%
# NetBeans
# %%%%%%%%%%%%%



# %%%%%%%%%%%%%
# Eclipse
# %%%%%%%%%%%%%